@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:var(--body-text-work-sans-font-weight),400,var(--caption-work-sans-font-weight),var(--h1-work-sans-font-weight),600,var(--base-body-work-sans-font-weight),var(--h5-work-sans-font-weight),var(--h3-work-sans-font-weight),var(--h2-work-sans-font-weight)|Space+Mono:var(--h4-space-mono-font-weight),var(--h5-space-mono-font-weight),var(--base-body-space-mono-font-weight),var(--caption-space-mono-font-weight),var(--h3-space-mono-font-weight)");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
