:root {
  --background: rgba(43, 43, 43, 1);
  --background-secondary: rgba(59, 59, 59, 1);
  --caption-label-text: rgba(133, 133, 132, 1);
  --text: rgba(255, 255, 255, 1);
  --call-to-action: rgba(162, 89, 255, 1);
  --white: rgba(255, 255, 255, 1);
  --h3-space-mono-font-family: "Space Mono", Helvetica;
  --h3-space-mono-font-weight: 700;
  --h3-space-mono-font-size: 38px;
  --h3-space-mono-letter-spacing: 0px;
  --h3-space-mono-line-height: 120.00000762939453%;
  --h3-space-mono-font-style: normal;
  --h4-space-mono-font-family: "Space Mono", Helvetica;
  --h4-space-mono-font-weight: 700;
  --h4-space-mono-font-size: 28px;
  --h4-space-mono-letter-spacing: 0px;
  --h4-space-mono-line-height: 140%;
  --h4-space-mono-font-style: normal;
  --h5-space-mono-font-family: "Space Mono", Helvetica;
  --h5-space-mono-font-weight: 700;
  --h5-space-mono-font-size: 22px;
  --h5-space-mono-letter-spacing: 0px;
  --h5-space-mono-line-height: 160%;
  --h5-space-mono-font-style: normal;
  --base-body-space-mono-font-family: "Space Mono", Helvetica;
  --base-body-space-mono-font-weight: 400;
  --base-body-space-mono-font-size: 16px;
  --base-body-space-mono-letter-spacing: 0px;
  --base-body-space-mono-line-height: 140%;
  --base-body-space-mono-font-style: normal;
  --caption-space-mono-font-family: "Space Mono", Helvetica;
  --caption-space-mono-font-weight: 400;
  --caption-space-mono-font-size: 12px;
  --caption-space-mono-letter-spacing: 0px;
  --caption-space-mono-line-height: 110%;
  --caption-space-mono-font-style: normal;
  --h1-work-sans-font-family: "Work Sans", Helvetica;
  --h1-work-sans-font-weight: 600;
  --h1-work-sans-font-size: 67px;
  --h1-work-sans-letter-spacing: 0px;
  --h1-work-sans-line-height: 110%;
  --h1-work-sans-font-style: normal;
  --h2-work-sans-font-family: "Work Sans", Helvetica;
  --h2-work-sans-font-weight: 600;
  --h2-work-sans-font-size: 51px;
  --h2-work-sans-letter-spacing: 0px;
  --h2-work-sans-line-height: 110%;
  --h2-work-sans-font-style: normal;
  --h3-work-sans-font-family: "Work Sans", Helvetica;
  --h3-work-sans-font-weight: 600;
  --h3-work-sans-font-size: 38px;
  --h3-work-sans-letter-spacing: 0px;
  --h3-work-sans-line-height: 120.00000762939453%;
  --h3-work-sans-font-style: normal;
  --h5-work-sans-font-family: "Work Sans", Helvetica;
  --h5-work-sans-font-weight: 600;
  --h5-work-sans-font-size: 22px;
  --h5-work-sans-letter-spacing: 0px;
  --h5-work-sans-line-height: 140%;
  --h5-work-sans-font-style: normal;
  --base-body-work-sans-font-family: "Work Sans", Helvetica;
  --base-body-work-sans-font-weight: 400;
  --base-body-work-sans-font-size: 16px;
  --base-body-work-sans-letter-spacing: 0px;
  --base-body-work-sans-line-height: 140%;
  --base-body-work-sans-font-style: normal;
  --caption-work-sans-font-family: "Work Sans", Helvetica;
  --caption-work-sans-font-weight: 400;
  --caption-work-sans-font-size: 12px;
  --caption-work-sans-letter-spacing: 0px;
  --caption-work-sans-line-height: 110%;
  --caption-work-sans-font-style: normal;
  --body-text-work-sans-font-family: "Work Sans", Helvetica;
  --body-text-work-sans-font-weight: 400;
  --body-text-work-sans-font-size: 22px;
  --body-text-work-sans-letter-spacing: 0px;
  --body-text-work-sans-line-height: 160%;
  --body-text-work-sans-font-style: normal;
}

